.bg-orange {
    background-color: $color-base;
}

.first-section {

    h2 {
        margin: 30px 0;
    }

    section {
        text-align: center;
        padding: 20px;

        .three-logo {
            padding: 5%;
            img {
                width: auto;
                height: 150px;
            }
        }

        .one-logo {
            img {
                padding: 30px;
                width: 30%;
            }
        }
        .separator {
            padding: 50px 0;
            @include bot-border;
        }
    }
}

.bg-white {
    .sec-left {
        margin: 30px 0;
        .flexing-box {
            @include flex;
            .sec-left-banner {
                width: 100%;
                .banner {
                    width: 100%;
                }
            }
            .sec-left-feedback {
                flex: 50%;
                padding: 30px 0;
                p, a {
                    text-decoration: none;
                    margin: 20px 0;
                    font-size: 20px;
                }
                .feedback-img {
                    padding: 40px 0;
                    img {
                        width: 100%;
                    }
                }
            }
            .flex-vuoto {
                flex: 20%;
            }
        }
    }

    .sec-right {
        margin: 30px 0;
        .flexing-box {
            @include flex;
            .sec-right-banner {
                width: 100%;
                order: 2;
                .banner {
                    width: 100%;
                }
            }
            .sec-right-feedback {
                flex: 50%;
                padding: 30px 0;
                order: 1;
                p, a {
                    text-decoration: none;
                    margin: 20px 0;
                    font-size: 20px;
                }
                .feedback-img {
                    padding: 40px 0;
                    img {
                        width: 100%;
                    }
                }
            }
            .flex-vuoto {
                flex: 20%;
            }
        }
    }
}

.last-section {
    .intestazioni {
        text-align: center;
        font-size: 32px;
        padding: 30px 0;
        width: 33%;
        margin: auto;
    }
    .mini-box {
        margin: auto;
        width: 50%;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #3E14E9;
        .cofounder {
            padding: 20px 0;
            img {
                margin-right: 20px;
                vertical-align: middle;
            }
        }
    }
}