.nav-bar {
    @include flex;
    @include bot-border;
    align-items: center;
    padding: 20px;

    .logo {
        flex: 1%;
    }

    .menu {

        ul {
            list-style-type: none;
            display: inline-block;

            li {
                display: inline-block;
                margin-left: 20px;
            }
        }

        button {
            margin-left: 20px;
            padding: 10px;
        }
    }
}